## ETL

#### Extract

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
from statsmodels.tsa.stattools import adfuller

In [2]:
# helper function
def inspect(df):
    print(df.info())
    print()
    display(df.head())

In [3]:
# load tables
meals = pd.read_csv('./data/meal_info.csv')
fulf_ctr = pd.read_csv('./data/fulfilment_center_info.csv')
demand_weekly = pd.read_csv('./data/train_file.csv')

#### Transform

In [4]:
# join the weekly demand data with the fulf center and meal table on the center & meal id respectively
dem_weekly_fulf_ctr = pd.merge(demand_weekly, fulf_ctr, on='center_id', how='inner')

full_data = pd.merge(dem_weekly_fulf_ctr, meals, on='meal_id', how='inner')

In [5]:
# number of orders for each food category for each center on a weekly basis
result = full_data.groupby(['center_id', 'category', 'week']).agg({'num_orders':'sum'})
result

                          num_orders
center_id category  week
10        Beverages 1           9116
                    2           8830
                    3           9421
                    4           9321
                    5           7523
...                              ...
186       Starters  141          233
                    142          178
                    143          149
                    144          121
                    145           94

[133003 rows x 1 columns]

In [6]:
# stationaity test
def perform_adf_test(series):
    '''
    Function perform stationarity test on a time series
    p-value < .05 stationary
    p-value >= 0.05 not stationary
    '''
    result = adfuller(series)
    # print('ADF Statistic: %f' % result[0])
    # print('p-value: %f' % result[1])
    return np.round(result[1], 3)

# perform_adf_test(result.loc[(10, 'Rice Bowl')].squeeze())

# perform stationarity test and visualize results
# number of orders for each food category for each center on a weekly basis
result = full_data.groupby(['center_id', 'category', 'week']).agg({'num_orders':'sum'})

# get list of both centers & food categories
food_categories = list(full_data.category.unique())

center_ids = sorted(list(full_data.center_id.unique()))

# instantiate df
stationarity_1_df  = pd.DataFrame(index=center_ids, columns=food_categories, dtype='float')

# perform stationarity test for food category ts for each center
for center in center_ids:
    
    # get food categories present in the center
    center_food_categories = result.loc[(center)].reset_index().category.unique()
    
    for food_category in food_categories:
        
        # check if food category was sold in that center
        if food_category in center_food_categories:
            
            # slice into data to get a timeseries
            resulting_ts = result.loc[(center, food_category)]
            # print(center, food_category) # DEBUG
        
            # validate ts first to meet alf test criteria and usefulness
            if result.loc[(center, food_category)].size > 30: # number of weeks present should be greater than 30
                p_val = perform_adf_test(resulting_ts.squeeze())
                
                # store result
                stationarity_1_df.loc[center, food_category] = p_val

inspect(stationarity_1_df)

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 10 to 186
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Beverages     77 non-null     float64
 1   Rice Bowl     77 non-null     float64
 2   Starters      77 non-null     float64
 3   Pasta         77 non-null     float64
 4   Sandwich      77 non-null     float64
 5   Biryani       76 non-null     float64
 6   Extras        36 non-null     float64
 7   Pizza         77 non-null     float64
 8   Seafood       76 non-null     float64
 9   Other Snacks  77 non-null     float64
 10  Desert        77 non-null     float64
 11  Salad         77 non-null     float64
 12  Fish          61 non-null     float64
 13  Soup          33 non-null     float64
dtypes: float64(14)
memory usage: 11.1 KB
None

,Beverages,Rice Bowl,Starters,Pasta,Sandwich,Biryani,Extras,Pizza,Seafood,Other Snacks,Desert,Salad,Fish,Soup
10,0.001,0.0,0.000,0.0,0.0,0.0,0.390,0.0,0.0,0.00,0.00,0.0,0.000,0.140
11,0.468,0.0,0.001,0.0,0.0,0.0,0.211,0.0,0.0,0.02,0.00,0.0,0.000,0.435
13,0.000,0.0,0.000,0.0,0.0,0.0,0.540,0.0,0.0,0.00,0.00,0.0,0.000,0.039
14,0.000,0.0,0.003,0.0,0.0,0.0,0.435,0.0,0.0,0.00,0.04,0.0,0.000,0.769
17,0.017,0.0,0.004,0.0,0.0,0.0,0.012,0.0,0.0,0.00,0.00,0.0,0.118,0.001

In [7]:
categories = list(stationarity_1_df.dropna(axis=1).columns)
print(f'Selected food category time series in each center:{categories}')
print()

result # original aggregated dataframe

Selected food category time series in each center:['Beverages', 'Rice Bowl', 'Starters', 'Pasta', 'Sandwich', 'Pizza', 'Other Snacks', 'Desert', 'Salad']

                          num_orders
center_id category  week
10        Beverages 1           9116
                    2           8830
                    3           9421
                    4           9321
                    5           7523
...                              ...
186       Starters  141          233
                    142          178
                    143          149
                    144          121
                    145           94

[133003 rows x 1 columns]

In [8]:
# select relevant time series 
main = result.loc[(slice(None), categories), :]
main

                          num_orders
center_id category  week
10        Beverages 1           9116
                    2           8830
                    3           9421
                    4           9321
                    5           7523
...                              ...
186       Salad     141          418
                    142          380
                    143          731
                    144          729
                    145          485

[98310 rows x 1 columns]

In [ ]:
# main.to_csv('./data/main.csv', index=False)

#### Load

In [ ]:
# s3 aws web interface was used

In [ ]:
# uplodat main
# Your AWS credentials (be cautious with this approach)
aws_access_key_id = 'ASIA3XNCCV6ENCORMSZF'
aws_secret_access_key = '33Mik4pMhaCCvDFQDacdZZdNqwUqvy8xO/BwVaYR'
aws_session_token = 'FwoGZXIvYXdzEAgaDBc1wThfIB6M3EeakCK3AaX4EQBmgoyxRthrGq4HgSi6bCOsfRSi8iy6TvT0iVT7TyQ6HYaacbou+hL0cC3enCpnjPcboVLBpW4MWi057fjbzo0KGH+KTzPlClMPO76TpZMYLAjCTBX8eGNDQPDfRtKZZoKefkDOOEwIYN/rBTa8lzQjQVui5CNeHDve5X1CLPMeo0Nq0l4N4rgjymuIJImzThwQS9oNQ0v/ZPtcx4Qcstuys/Ue0us+QX95iVwg5cKFzCcNGyi+wLerBjItLo+KE+FDuPk1pFqx+BsJhsdHUvf03sLRC1q64cruFN47Uf2+/fyIFNrt5qqs'  # If needed

# S3 bucket details
bucket_name = 'fooddemandproj'
file_key = 'main.csv'

# Create a Boto3 session with your AWS credentials
session = boto3.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key, 
    aws_session_token=aws_session_token  # Include this if you're using temporary credentials
)

# Create an S3 client using the session
s3 = session.client('s3')

# Upload a file
local_file_path = './data/main.csv'
bucket_name = 'fooddemandproj'
s3_file_key = 'main.csv'

s3.upload_file(local_file_path, bucket_name, s3_file_key)